<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/css/main.css">
        {{{ _sections.stylesheets }}}
        {{{ _sections.scripts }}}
        {{{ _sections.head }}}
    </head>
    <body>
        {{{ body }}}
        {{{ _sections.bodyScripts }}}
    </body>
</html>
