{{#section 'stylesheets'}}
    <link rel="stylesheet" href="/styles/stylesheets/home.css">
{{/section}}
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-41144200-3"></script>

<script>

  window.dataLayer = window.dataLayer || [];

  function gtag(){dataLayer.push(arguments);}

  gtag('js', new Date());

  gtag('config', 'UA-41144200-3');

</script>

<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides">
    <img src="/media/images/coolkit.png" style="width:100%">
    <div class="text"><h1 class="heading-1">Welcome to the Citizen's Coolkit</h1>
    <p class="paragraph-1">Citizen's Coolkit is a structured, visual and fun guide for people to engage
      their blocks on issues and solutions related to climate change and urban forestry. It aims to help
      you climate-proof your neighbourhood while improving the urban forests that surround your home.</p>
      <a href="#section-2" class="btn btn-default button-1">LEARN MORE</a>
    </div>
  </div>

  <div class="mySlides">
    <img src="/media/images/secondslide.jpg" style="width:100%; opacity: 0.3;">
    <div class="text">
      <h1 class="heading-1">Welcome to the Citizen's Coolkit</h1>
      <p class="paragraph-1">Citizen's Coolkit is a structured, visual and fun guide for people to engage
        their blocks on issues and solutions related to climate change and urban forestry. It aims to help
        you climate-proof your neighbourhood while improving the urban forests that surround your home.</p>
        <a href="#section-2" class="btn btn-default button-1">LEARN MORE</a>
      </div>
  </div>

  <div class="mySlides">
    <img src="/media/images/thirdslide.jpg" style="width:100%; opacity: 0.3;">
    <div class="text">
      <h1 class="heading-1">Welcome to the Citizen's Coolkit</h1>
      <p class="paragraph-1">Citizen's Coolkit is a structured, visual and fun guide for people to engage
        their blocks on issues and solutions related to climate change and urban forestry. It aims to help
        you climate-proof your neighbourhood while improving the urban forests that surround your home.</p>
        <a href="#section-2" class="btn btn-default button-1">LEARN MORE</a>
      </div>
  </div>

  <div class="mySlides">
    <img src="/media/images/fourthslide.jpg" style="width:100%; opacity: 0.2;">
    <div class="text">
      <h1 class="heading-1">Welcome to the Citizen's Coolkit</h1>
      <p class="paragraph-1">Citizen's Coolkit is a structured, visual and fun guide for people to engage
        their blocks on issues and solutions related to climate change and urban forestry. It aims to help
        you climate-proof your neighbourhood while improving the urban forests that surround your home.</p>
        <a href="#section-2" class="btn btn-default button-1">LEARN MORE</a>
      </div>
  </div>

  <div class="mySlides">
    <img src="/media/images/fifthslide.jpg"  style="width:100%; opacity: 0.3;">
    <div class="text">
        <h1 class="heading-1">Welcome to the Citizen's Coolkit</h1>
        <p class="paragraph-1">Citizen's Coolkit is a structured, visual and fun guide for people to engage
          their blocks on issues and solutions related to climate change and urban forestry. It aims to help
          you climate-proof your neighbourhood while improving the urban forests that surround your home.</p>
          <a href="#section-2" class="btn btn-default button-1">LEARN MORE</a>
  </div>
  </div>
</div>

<!-- <div id="hero">
    <div class="custom-container">
        <div class="container-fluid div-block-1"> -->
            <!-- <img src="/media/images/coolkit.png" width="100%">-->
            <!-- <h1 class="heading-1">Welcome to the Citizen's Coolkit</h1>
            <p class="paragraph-1">Citizen's Coolkit is a structured, visual and fun guide for people to engage their blocks on issues and solutions related to climate change and urban forestry. It aims to help you climate-proof your neighbourhood while improving the urban forests that surround your home.</p>
            <a href="#section-2" class="btn btn-default button-1">START EXPLORING</a>
        </div>
    </div>
</div> -->


<!-- {{# each quotes}}
        <div class="quotes">
                <h3>{{ name }}</h3>
                <br>
                <small> {{ quote}} </small>
                <br>
        </div>
{{/each}} -->

<!-- <div>
      <ul>
            {{#fromDB}}
            <li>{{quote}}</li>
            <form action="/quotes" method="POST">
                  <input type="text" class="delete-button" type="submit" name="delete" value="DELETE"></input>
            </form>
            {{/fromDB}}

      </ul>
</div> -->


<!-- <form action="/quotes" method="POST">
  <input type="text" placeholder="name" name="name">
  <input type="text" placeholder="pledge" name="pledge">
  <button type="submit">Submit</button>
</form> -->

<!--
<div>
      <ul>
            {{#fromDB}}
            <li>{{quote}}</li>
            <form action="/userlist/{{_id}}/delete" method="POST">
                  <input class="delete-button" type="submit" name="delete" value="DELETE"></input>
            </form>
            {{/fromDB}}

      </ul>
</div> -->


<div id="section-2">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="heading-2">Why do we need the Coolkit?</h1>
                <p class="paragraph-2">Our communities are changing. How can we understand and manage that change? The Coolkit is designed to help you:</p>
                <ul class="unordered-list-1">
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>Learn about your block and how climate change affects it</li>
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>Meet your neighbours and talk to them about climate change</li>
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>Improve quality of life on your block</li>
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>Climate-proof your home and neighbourhood</li>
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>Cut your carbon footprint together with your neighbours</li>
                    <li class="list-item-1"><span class="glyphicon glyphicon-leaf bullet-point-right-margin" aria-hidden="true"></span>Have fun along the way!</li>
                </ul>
                <a href="/background" class="btn btn-default button-1">LEARN MORE</a>
            </div>
            <div class="col-sm-6">
                <img src="/media/images/people-with-environmental-sustainability-concept.png" alt="" class="image-12">

            </div>
        </div>
    </div>
</div>

<div id="section-3">
    <div class="container-fluid custom-container">
        <h1 class="heading-3">Who is this for?</h1>
        <div class="row">
            <div class="col-md-6{{! column-padding-adjustment-2 }}">
                <div class="div-block-2 top-block" {{! id="left-block" }}>
                    <div class="row">
                        <div class="col-sm-3 column-padding-adjustment-1">
                            <img src="/media/images/boy-with-book2x.png" alt="" class="image-1">
                        </div>
                        <div class="col-sm-9 column-padding-adjustment-1">
                            <h2 class="heading-4">Community Version</h2>
                            <p>Community members wanting to have meaningful interaction with their neighbours in caring for the places where they live.</p>
                            <a href="/community" class="link">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6{{! column-padding-adjustment-3 }}">
                <div class="div-block-2" {{! id="right-block" }}>
                    <div class="row">
                        <div class="col-sm-3 column-padding-adjustment-1">
                            <img src="/media/images/teacher-with-book2x.png" alt="" class="image-2">
                        </div>
                        <div class="col-sm-9 column-padding-adjustment-1">
                            <h2 class="heading-4">Educator Version</h2>
                            <p>School teachers, students, and youth groups wanting to get involved and/or teach climate change &amp; urban forestry in class.</p>
                            <a href="/ed" class="link">LEARN MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="section-5">
    <div class="container-fluid custom-container">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="heading-6">Where can I use the Coolkit?</h1>
          <p class="paragraph-3">Most of the activities here are simple, easy, and fun to do with family,
              friends and neighbours! Consider introducing the Coolkit at a block party, when spending time
              with neighbors or friends, or  on Facebook. Don’t forget to bring a copy of the Coolkit along
              with some pens, markers, and other required materials. <br><br>If it is hard to meet in person,
              don’t give up! Consider online options such as creating and using a  Facebook group or meeting
              regularly on Skype. You can also follow us on Facebook and Instagram to keep an eye on the upcoming
              events and share your ideas under the posts.</p>
        </div>
        <div class="col-sm-6">
            <img src="/media/images/people-at-picnic-no-flowers.svg" alt="" class="image-14">
        </div>
      </div>
    </div>
</div>

<div id="section-6">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="heading-6">Download Coolkit as a PDF file</h1>
                <a href="https://calp2016.sites.olt.ubc.ca/files/2019/11/2019-Nov_Coolkit-Full-v.26-reducedsize.pdf" target="_blank" class="btn btn-default button-1 button-3">DOWNLOAD FULL VERSION</a>
                <br>
                <br>
                <br>
                <a href="https://calp2016.sites.olt.ubc.ca/files/2019/11/2019-Sep_Coolkit-Mini-v.27.pdf" target="_blank" class="btn btn-default button-1 button-3">DOWNLOAD MINI VERSION</a>
            </div>
            <div class="col-sm-6">
                <img src="/media/images/illustrated-guide2x.png" alt="" class="image-7">
            </div>
        </div>
    </div>
</div>

<div id="section-7">
  <div class="feedback-container">
    <h1 class="heading-8">Feedback</h1>
    <form action="action_page.php">

      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Name">

      <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder="Email">

      <label for="subject">Subject</label>
      <input type="text" id="subject" name="subject" placeholder="Subject">

      <label for="feedback">Feedback</label>
      <textarea id="feedback" name="feedback" placeholder="Write something.." style="height:200px"></textarea>

      <input type="submit" value="Submit">

    </form>
  </div>
</div>

<div id="section-8">
    <div class="container-fluid custom-container-2">
        <h1 class="heading-8">Supported By</h1>
        <a href="https://vancouver.ca/your-government/vancouver-board-of-parks-and-recreation.aspx" target="_blank">
            <div class="supporter" id="park-board"></div>
        </a>
        <a href="https://www.vsb.bc.ca/Pages/default.aspx" target="_blank">
            <div class="supporter" id="school-board"></div>
        </a>
        <a href="https://vancouver.ca/" target="_blank">
            <div class="supporter" id="city-of-vancouver"></div>
        </a>
        <a href="https://www.surrey.ca" target="_blank">
            <div class="supporter" id="city-of-surrey"></div>
        </a>
        <a href="https://www.sshrc-crsh.gc.ca/home-accueil-eng.aspx" target="_blank">
            <div class="supporter" id="sshrc"></div>
        </a>
        <p><b>Interested in customizing the Coolkit/iCoolkit for your own city or neighbourhood? <a href="mailto:zhaohua.cheng@ubc.ca">Contact us</a>!
        </b></p>
        <br>
    </div>
</div>

<div id="footer">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-md-3">
                <div class="text-block-1 top-margin-adjustment-2">
                    <span class="text-span footer-logo">Coolkit</span>
                    <div>Beta Version</div>
                    <br>
                    <a href = "https://calp.forestry.ubc.ca/"><img src="/media/images/calp logo.png" style="width: 100%" class="footer-icon"></a>
                </div>
            </div>

            <div class="col-md-5">
                <div class="div-block-14">
                    <h3 class="footer-text footer-header">Contact Us</h3>
                    <div class="div-block-16">
                        <img src="/media/images/Location.svg" width="15" alt="" class="footer-icon">
                        <div class="text-block-3 footer-text-3">COLLABORATIVE FOR ADVANCED LANDSCAPE PLANNING<br>
                          Dept. of Forest Resources Management <br>
                          University of British Columbia (UBC)<br>
                          3321 – 2260 West Mall<br>
                          Vancouver, BC Canada <br>
                          V6T 1Z4</div>
                    </div>
                    <div class="">
                        <img src="/media/images/phone.svg" width="18" alt="" class="footer-icon">
                        <div class="text-block-3 footer-text-3">604-822-8912</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="div-block-17">
                    <h3 class="footer-text footer-header">Follow Us</h3>
                    <a href="https://www.facebook.com/CoolkitVancouver/" target="_blank"><img src="/media/images/facebook-logo.svg" alt="" class="social-media-icon"></a>
                    <a href="https://www.instagram.com/citizenscoolkit/?hl=en" target="_blank"><img src="/media/images/instagram-logo.svg" alt="" class="social-media-icon"></a>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'bodyScripts'}}
    {{!-- <script>
        window.onload = setEqualHeight();
        window.onresize = setEqualHeight();

        function setEqualHeight() {
            if(window.innerWidth >= 1035 && window.innerWidth <= 1132) {
                var leftBlockHeight = document.getElementById('left-block').clientHeight;
                var rightBlockHeight = document.getElementById('right-block').clientHeight;
                console.log("Left: " + leftBlockHeight);
                console.log("Right: " + rightBlockHeight);
                if(leftBlockHeight > rightBlockHeight) {
                    document.getElementById('right-block').style.height = leftBlockHeight + "px";
                } else {
                    document.getElementById('left-block').style.height = rightBlockHeight + "px";
                }
            } else {
                document.getElementById('right-block').removeAttribute("style");
                document.getElementById('left-block').removeAttribute("style");
            }
        }
    </script> --}}

    <!-- Start Source: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("a").on('click', function(event) {
                if (this.hash !== "") {
                event.preventDefault();
                var hash = this.hash;
                $('html, body').animate({
                    scrollTop: $(hash).offset().top - 50
                }, 800, function(){
                    {{!-- window.location.hash = hash; --}}
                });
                }
            });
        });

//   var slideIndex = 1;
// showSlides(slideIndex);
//
// // Next/previous controls
// function plusSlides(n) {
//   showSlides(slideIndex += n);
// }
//
// // Thumbnail image controls
// function currentSlide(n) {
//   showSlides(slideIndex = n);
// }
//
// function showSlides(n) {
//   var i;
//   var slides = document.getElementsByClassName("mySlides");
//   var dots = document.getElementsByClassName("dot");
//   if (n > slides.length) {slideIndex = 1}
//   if (n < 1) {slideIndex = slides.length}
//   for (i = 0; i < slides.length; i++) {
//       slides[i].style.display = "none";
//   }
//   for (i = 0; i < dots.length; i++) {
//       dots[i].className = dots[i].className.replace(" active", "");
//   }
//   slides[slideIndex-1].style.display = "block";
//   dots[slideIndex-1].className += " active";
// }

var slideIndex = 0;
showSlides();

function showSlides() {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  slides[slideIndex-1].style.display = "block";
  setTimeout(showSlides, 5000); // Change image every 2 seconds
}
</script>
    <!-- End Source: https://www.w3schools.com/howto/howto_css_smooth_scroll.asp#section2 -->
{{/section}}
